# Python & FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.sqlite3
*.db

# Large Datasets & Media Artifacts (Do NOT push to GitHub)
backend/cv/Fruit And Vegetable Diseases Dataset/
backend/cv/archive/
backend/cv/quality dataset/
backend/cv/data/
backend/uploads/
backend/cv/data.zip
*.onnx

# Exception for models_backup folder
!backend/cv/models_backup/
!backend/cv/models_backup/*.pt

# Node & Frontend
node_modules/
dist/
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
